html,
body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
}
td {
  border: none;
  line-height: 21px;
  padding-top: 5px;
  white-space: nowrap;
  padding-bottom: 0;
  margin-bottom: 0;
}
.table__name-link,
.footer__left-link,
.footer__right-link {
  color: #2a7fdd;
  text-decoration: none;
  border-bottom: 1px solid rgba(42, 127, 221, 0.2);
}
.table__name-link:visited,
.footer__left-link:visited,
.footer__right-link:visited {
  color: #6f57e6;
  text-decoration: none;
  border-bottom: 1px solid rgba(111, 87, 230, 0.2);
}
.table__name-link:hover,
.footer__left-link:hover {
  color: #e97901;
  text-decoration: none;
  border-bottom: 1px solid rgba(233, 121, 1, 0.2);
}
.table {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  font-size: 0;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-spacing: 0;
}
.table__row {
  vertical-align: top;
}
.table__row_separate > td {
  padding-bottom: 22px;
}
.table__row:hover {
  background: #f2f0ed;
}
.table__row:hover > .table__place {
  font-size: 13px;
}
.table__under-header.table__rating {
  padding-right: 30px;
  text-align: right;
  width: 85px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table__place {
  font-size: 0;
  padding-right: 15px;
  width: 62px;
}
.table__place.table__place_first {
  font-size: 13px;
}
.table__place:not([class*="table__under-header"]):before {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  content: '';
  line-height: 22px;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 3px;
}
.table__place[data-place="1"]:before {
  background-color: gold;
}
.table__place[data-place="2"]:before {
  background-color: silver;
}
.table__place[data-place="3"]:before {
  background-color: brown;
}
.table__name {
  font-size: 13px;
  min-width: 140px;
}
.table__rating {
  font-size: 0;
  color: #000000;
}
.table__rating_danger {
  color: #bc3622;
}
.table__rating-left {
  display: inline-block;
  width: 18px;
  text-align: right;
  margin-right: 0;
  padding: 0;
  font-size: 13px;
}
.table__rating-right {
  display: inline-block;
  width: 22px;
  text-align: left;
  font-size: 13px;
}
.table__quality {
  width: 68px;
}
.table__service {
  width: 50px;
}
.table__clean {
  padding-right: 20px;
}
.table__quality-left,
.table__clean-left,
.table__service-left {
  color: #bc3622;
  display: inline-block;
  width: 18px;
  text-align: right;
  margin-right: 0;
  padding: 0;
  font-size: 13px;
}
.table__bars {
  text-align: left;
  width: 50px;
}
.table__bar {
  height: 17px;
  width: 50px;
  display: inline-block;
  text-align: left;
}
.table__bar-count {
  width: 4px;
  background: #000;
  opacity: 0.35;
  display: inline-block;
}
.table__bar-count_danger {
  background: #ad3c2a;
}
.table__bar-count:hover {
  opacity: 1;
}
.table__bar-count:hover ~ .table__bar-count {
  opacity: 0.35;
}
.table__bar-count_current {
  opacity: 1;
}
.table__rate {
  font-size: 13px;
  padding-right: 20px;
  padding-left: 5px;
  min-width: 65px;
  color: #000000;
}
.table__rate_danger {
  color: #bc3622;
}
.table__rate-plus {
  color: #417100;
  padding-left: 5px;
}
.table__rate-plus:before {
  content: '\25B2';
  font-size: 10px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}
.table__rate-minus {
  color: #bc3622;
  padding-left: 5px;
}
.table__rate-minus:before {
  content: '\25BC';
  font-size: 10px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}
.table__problems {
  width: 50%;
  font-size: 13px;
  white-space: normal;
}
.table__devider:after {
  content: '';
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
}
.table__devider:first-child:after {
  width: 90%;
}
.table__header {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
.table__under-header {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}
.footer {
  font-size: 0;
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__right {
  text-align: right;
  width: 50%;
  font-size: 13px;
  display: inline-block;
}
.footer__left {
  text-align: left;
  width: 50%;
  font-size: 13px;
  display: inline-block;
}
@media (max-width: 820px) {
  .table__quality,
  .table__service,
  .table__clean {
    display: none;
  }
}
@media (max-width: 680px) {
  .footer__left {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__right {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 640px) {
  .table__bars,
  .table__rate {
    display: none;
  }
  .table__name {
    width: 27%;
  }
}
@media (max-width: 450px) {
  .table__problems,
  .table__devider:last-child,
  .table__header:last-child {
    display: none;
  }
  .table__name {
    width: 80%;
  }
  .table__under-header.table__rating {
    padding-right: 0;
  }
  .table__devider:first-child:after {
    width: 100%;
  }
}
