@linkColor: #2a7fdd;
@hoverColor: #e97901;
@visitedColor: #6f57e6;

.draw_medal (@place) when (@place = 1) {
    background-color: gold;
}
.draw_medal (@place) when (@place = 2) {
    background-color: silver;
}
.draw_medal (@place) when (@place = 3) {
    background-color: brown;
}

html, body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', Arial, sans-serif;
}

td {
    border: none;
    line-height: 21px;
    padding-top: 5px;
    white-space: nowrap;
    padding-bottom: 0;
    margin-bottom: 0;
}

.table__name-link,
.footer__left-link,
.footer__right-link {
    color: @linkColor;
    text-decoration: none;
    border-bottom: 1px solid fade(@linkColor, 20);
}

.table__name-link:visited,
.footer__left-link:visited,
.footer__right-link:visited {
    color: @visitedColor;
    text-decoration: none;
    border-bottom: 1px solid fade(@visitedColor, 20);
}

.table__name-link:hover,
.footer__left-link:hover {
    color: @hoverColor;
    text-decoration: none;
    border-bottom: 1px solid fade(@hoverColor, 20);
}

.table {
    width: 100%;
    min-width: 320px;
    max-width: 1220px;
    font-size:0;
    margin: 0 auto;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;

    &__row {
        vertical-align: top;

        &_separate > td {
            padding-bottom: 22px;
        }

        &:hover {
            background: #f2f0ed;
        }

        &:hover > .table__place {
            font-size: 13px;
        }
    }

    &__under-header&__rating {
        padding-right: 30px;
        text-align: right;
        width: 85px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &__place {
        font-size: 0;
        padding-right: 15px;
        width: 62px;
    }

    &__place&__place_first {
        font-size: 13px;
    }

    &__place:not([class*="table__under-header"]):before {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        display: inline-block;
        content: '';
        line-height: 22px;
        margin-right: 10px;
        vertical-align: top;
        margin-top: 3px;
    }

    &__place[data-place="1"]:before {
        .draw_medal(1);
    }
    &__place[data-place="2"]:before {
        .draw_medal(2);
    }
    &__place[data-place="3"]:before {
        .draw_medal(3);
    }

    &__name {
        font-size: 13px;
        min-width: 140px;
    }

    &__rating {
        font-size: 0;
        color: #000000;

        &_danger {
            color: #bc3622;
        }

        &-left {
            display: inline-block;
            width: 18px;
            text-align: right;
            margin-right: 0;
            padding: 0;
            font-size: 13px;
        }

        &-right {
            display: inline-block;
            width: 22px;
            text-align: left;
            font-size: 13px;
        }
    }

    &__quality {
        width: 68px;
    }

    &__service {
        width: 50px;
    }

    &__clean {
        padding-right: 20px;
    }

    &__quality-left,
    &__clean-left,
    &__service-left {
        color: #bc3622;
        display: inline-block;
        width: 18px;
        text-align: right;
        margin-right: 0;
        padding: 0;
        font-size: 13px;
    }

    &__bars {
        text-align: left;
        width: 50px;
    }

    &__bar {
        height: 17px;
        width: 50px;
        display: inline-block;
        text-align: left;

        &-count {
            width: 4px;
            background: #000;
            opacity: 0.35;
            display: inline-block;

            &_danger {
                background: #ad3c2a;
            }

            &:hover {
                opacity: 1;
            }

            &:hover ~ & {
                opacity: 0.35;
            }

            &_current {
                opacity: 1;
            }
        }
    }

    &__rate {
        font-size: 13px;
        padding-right: 20px;
        padding-left: 5px;
        min-width: 65px;
        color: #000000;

        &_danger {
            color: #bc3622;
        }

        &-plus {
            color: #417100;
            padding-left: 5px;

            &:before {
                content:'\25B2';
                font-size: 10px;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-right: 5px;
            }
        }

        &-minus {
            color: #bc3622;
            padding-left: 5px;

            &:before {
                content:'\25BC';
                font-size: 10px;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }

    &__problems {
        width: 50%;
        font-size: 13px;
        white-space: normal;
    }

    &__devider:after {
        content: '';
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #c8c8c8;
    }

    &__devider:first-child:after {
        width: 90%;
    }

    &__header {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
    }

    &__under-header {
        font-size: 14px;
        font-weight: normal;
        text-align: left;
    }
}

.footer {
    font-size: 0;
    width: 100%;
    min-width: 320px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer__right {
    text-align: right;
    width: 50%;
    font-size: 13px;
    display: inline-block;
}

.footer__left {
    text-align: left;
    width: 50%;
    font-size: 13px;
    display: inline-block;
}

@media (max-width: 820px) {
    .table__quality,
    .table__service,
    .table__clean {
        display: none;
    }
}

@media (max-width: 680px) {
    .footer__left {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer__right {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .table__bars,
    .table__rate {
        display: none;
    }

    .table__name {
        width: 27%;
    }
}

@media (max-width: 450px) {
    .table__problems,
    .table__devider:last-child,
    .table__header:last-child {
        display: none;
    }

    .table__name {
        width: 80%;
    }

    .table__under-header.table__rating {
        padding-right: 0;
    }

    .table__devider:first-child:after {
        width: 100%;
    }
}